Repository byulhook/byul, pull requests merged in 2024-08, with the labels that each got.

#7 Update README.md, how to install byul as Bun.js
  README.md
Labels: documentation

#9 Update installation instructions for Windows PowerShell users
  README.md
  README_KO.md
Labels: bugfix

#10 [feature] set byul package
  .husky/commit-msg
  .idea/dbnavigator.xml
  byul.config.json
  package-lock.json
  package.json
  yarn.lock
Labels: documentation

#11 [fix] Add Bun installation instructions to README
  README.md
  README_KO.md
Labels: documentation

#13 Develop to main
  .husky/commit-msg
  .idea/dbnavigator.xml
  README.md
  README_KO.md
  byul.config.json
  package-lock.json
  package.json
  yarn.lock
Labels: enhancement

#19 develop to main
  src/index.ts
Labels: release

#22 [bug] commitlogfix
  byul.config.json
  src/index.ts
Labels: fix

#25 [feat] 패키지 자동 세팅 완성
  .husky/commit-msg
  byul.config.json
  package.json
Labels: feat

#28 [docs] 리드미에 사용법 수정 했습니다
  README.md
  README_KO.md
  package.json
Labels: docs

#34 [feat] 이슈템플릿, package.json 수정 ( 오거제네이션 이름 변경 )
  .DS_Store
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feat.yml
  .github/ISSUE_TEMPLATE/help.yml
  README.md
  package-lock.json
  package.json
  yarn.lock
Labels: feat

#37 [feat] setup.mjs 업데이트
  .gitignore
  .husky/commit-msg
  dist/index.js
  dist/setup.mjs
Labels: feat
