Repository byulhook/byul, pull requests merged in 2024-09, with the labels that each got.

#42 [feat] Chalk, SimpleGit 종속성 탈출했습니다.
  dist/index.js
  package.json
  src/index.ts
Labels: feat

#45 코드 레빗 설정 파일을 추가함.
  .coderabbit.yaml
Labels: fix, chore

#46 [Fix] Fixed branch type formatting error, branch issue number extraction error
  .gitignore
  .tmp/test.js
  dist/index.js
  package.json
  src/index.ts
Labels: fix

#47 [Fix] Added a codeRabbit configuration file.
  .coderabbit.yaml
Labels: fix, setting

#49 [Setting] Setting up automatic PR labelling and automatic PR contacts with github actions
  .github/auto_assign.yml
  .github/labeler.yml
  .github/workflows/issue-auto_assign.yml
  .github/workflows/pr-auto_assign.yaml
  .github/workflows/pr-labeler.yml
Labels: setting

#51 v1.4.0
  .tmp/test.js
Labels: release

#54 [fix] BYUL 1.3.1 causes BYUL to work even when SQUASH or AMEND is present
  byul.config.json
  byulhook.yml
  dist/detectCommitMode.js
  dist/index.js
  dist/setup.mjs
  src/detectCommitMode.ts
  src/index.ts
Labels: fix

#56 V 1.4.0
  .tmp/test.js
  byul.config.json
  byulhook.yml
  dist/detectCommitMode.js
  dist/index.js
  dist/setup.mjs
  src/detectCommitMode.ts
  src/index.ts
Labels: release

#58 [fix] byul v1.4에서 git commit일 때 byul 포맷팅이 되지 않는 오류를 해결
  dist/index.js
  src/index.ts
Labels: fix

#69 fix: husky를 설치하고 byul설치 오류 (#68)
  dist/setup.mjs
  package.json
Labels: fix

#72 [Fix] 유효하지 않은 API키일 때 커밋 중단시키는 로직 추가, husky일 때 추가 로직
  README.ko.md
  README.md
  byul.config.json
  dist/index.js
  dist/isValidOpenAIKey.js
  dist/setup.mjs
  package.json
  src/index.ts
  src/isValidOpenAIKey.ts
Labels: fix

#75 [fix] byul 삭제 방식 개선, byul 커밋 로그 개선
  dist/byul_script
  dist/legacyFormatCommitMessage.js
  dist/setup.mjs
  package-lock.json
  package.json
  src/legacyFormatCommitMessage.ts
Labels: fix

#77 fix: dist/setup.mjs 수정 (#74)
  dist/setup.mjs
Labels: fix

#79 fix: setup.mjs 수정(#74)
  .coderabbit.yaml
  dist/setup.mjs
  package-lock.json
  package.json
Labels: fix

#83 [hotfix] 2.0.6버전에서 husky 종속성이 있는 환경에서 byul이 설치 실패하는 오류 해결
  dist/setup.mjs
  package.json
Labels: hotFix
